<div>
  <h1>Poker Boi</h1>
  <form (ngSubmit)="createGame(model.title, model.name)" #pbForm="ngForm">
    <input type="text"
      required
      placeholder="Display Name"
      [(ngModel)]="model.name" name="name"
      #name="ngModel"
      [class.invalid]="!name.pristine && !name.valid"/>
    <input type="text"
      required
      placeholder="Game Title"
      [(ngModel)]="model.title" name="title"
      #title="ngModel"
      [class.invalid]="!title.pristine && !title.valid"/>
    <button type="submit"
      [disabled]="!pbForm.form.valid">
      {{pbForm.form.valid ? 'Start Game' : '&nbsp;'}}
    </button>
  </form>
  <img src="assets\vault-boy.png" style="margin-top: 10px;">
</div>