<div class="container">
  <h1>Poker Boi</h1>
  <form (ngSubmit)="onSubmit()" #pbForm="ngForm">
    <input type="text"
      required
      placeholder="Player Name"
      [(ngModel)]="model.name" name="name"/>
    <input type="text"
      required
      placeholder="Lobby Title"
      [(ngModel)]="model.title" name="title"/>
    <button type="button"
      (click)="createGame(model.title, model.name)">
      Start Lobby
    </button>
  </form>
  <img src="assets\vault-boy.png" style="margin-top: 10px;">
</div>